/* This stylesheet is used to style the admin option form of the plugin. */
.fluidbox-postbox h3 .dashicons {
    margin-top: 2px;
}

.fluidbox-copyright h3 span:before {
    content: "\f488";
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 18px/1 'dashicons';
    vertical-align: top;
}

.fluidbox-support h3 span:before {
    content: "\f468";
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 18px/1 'dashicons';
    vertical-align: top;
}